/* nejsme vcerejsi, pouzivame moderni box model */

*, :after, :before {
    box-sizing: border-box;
}

/*
 BARVY
 pozadi     #f5f5f5
 Jedeme retro cernobile, dnes barvy nepotrebujeme.
*/

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.6;
    min-width: 500px;
}

/* HLAVICKA */

.titulek {
    font-family: 'Raleway';
    font-size: 40px;
    margin-top: 0px;
}

.autor {
    font-style: italic;
    opacity: 0.5;
}

hr {
    border-top: 2px solid white;
    width: 55px;
    margin-top: 30px;
}

.hlavicka {
    background-size: cover;
    background-position: center center;
    padding: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(images/island-hlavicka.jpg);
}

.titulek, .perex, .autor {
    color: white;
    text-align: center;
    /* font-family: 'Raleway'; */
}

.images {
    width: 100%;
}

/* MENU */

.menu {
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}

.menu li a {
    color: rgb(192, 190, 190);
    text-transform: uppercase;
    text-decoration: none;
}

li {
    padding: 10px;
    border-bottom: 0.2px solid rgb(173, 172, 172);
}

.uvod {
    padding: 25px;
}

/* OBSAH */

.popisek {
    color: grey;
    text-align: center;
    margin: 0px;
    font-size: 13px;
    font-family: 'Meriweather';
}

.modra_cara {
    border: 2px solid rgb(98, 98, 236);
    width: 80px;
}
/* viem, že tá modrá nie je uplne ako na obrázkoch, ale tak snaha bola :) */

.popisek a {
    color: grey;
}

.odsek {
    font-family: 'Meriweather';
    padding: 25px;
}

h2 {
    padding-left: 25px;
}

/* FOTOGALERIE */

.galerie {
    margin-top: 25px;
}

.popisek {
    font-family: 'Raleway';
    font-weight: 700;
    padding: 3px 0px 20px;
}

.popisek-copy {
    font-weight: 400;
}

/* PATICKA */

.paticka {
    color: grey;
    background-color: #f5f5f5;
    padding: 45px;
    font-size: 12px;
    font-weight: 700;
}

a {
    color: grey;
}

@media (max-width:1000px) and (min-width:500px) {
    .menu {
        display: flex;
        justify-content: space-around;
        border-top: 0.2px solid rgb(173, 172, 172);
        border-bottom: 0.2px solid rgb(173, 172, 172);
        margin: 25px;
    }
    .menu li {
        flex: 1;
        border-right: 0.2px solid rgb(173, 172, 172);
        border-bottom: 0;
    }
    li:last-child {
        border-right: 0;
    }
    .popisek {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        padding-right: 25px;
    }
    .popisek a {
        color: white;
    }

    .foto .popisek {
        display: none;
    }
    .obal {
        position: relative;
    }
    .foto {
        width: 50%;
    }
    .galerie {
        display: flex;
        flex-wrap: wrap;
    }
    .images {
        display: block;
    }
}

@media (min-width:1000px) {
    .titulek {
        font-size: 80px;
        margin: 0;
        margin-top: -100px;
    }
    .perex {
        max-width: 800px;
        margin: 0 auto;
    }
    .hlavicka {
        padding: 150px 25px;
    }
    .titulek, .perex, .autor {
        font-weight: 700;
    }
    .menu {
        font-size:12px;
        padding: 25px 0 25px 25px;
        flex: 80%;
        text-align: start;
        }
    li {
        padding:5px;
    }
    .uvod_menu {
        display: flex;
        flex-direction: row;
        margin-top: -80px;
        padding:20px;
    }
    .odsek {
        padding-left:300px;
        padding-right:50px;
    }
    .odsek-left {
        padding-right:300px;
        padding-left:50px;
    }
    
    h2 {
        padding:50px 50px 5px 50px;
    }

    .co {
        padding-left: 300px;
    }

    /* .md2 {
        padding-left: 300px;
???????????
    } */

    .foto .popisek {
        display: none;
    }
    article {
        max-width: 960px;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0px 30px 15px lightgrey;
    }
    body {
        background: #f5f5f5;
    }
    .popisek {
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        padding-right: 25px;
    }
    .popisek a {
        color: white;
    }
    .md2 {
        margin-left: 250px;
    }
    .obal {
        position: relative;
    }
    .foto {
        width: calc(100%/3);
    }
    .galerie {
        display: flex;
        flex-wrap: wrap;
    }
    .images {
        display: block;
    }
    .paticka {
        padding-left:150px;
    }
}